* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 1500px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.151);
}

.imgContainer {
    transition: 0.4s ease;
    position: relative;
    height: 750px;
    width: 700px;
    border-radius: 25px;
}

.imgContainer img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.forms {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 700px;
    border-radius: 25px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
}

.google {
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    gap: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.205);
}

.google img {
    height: 80%;
    width: auto;
}

.google:hover {
    scale: 101%;
}

.google a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.205);;
}

.formArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    height: 40%;
    width: 100%;
}


.formArea input {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    height: 50px;
    width: 60%;
}

.formArea input:focus {
    outline: none;
}

.formArea b {
    align-self: flex-start;
    margin-left: 20%;
    margin-bottom: 5px;
}

.buttons {
    /* background-color: #e65656; */
    height: 30%;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    height: 20%;
    width: 50%;
}

.logo img {
    padding: 20px;
    height: 70%;
    width: 30%;
}

.logo img:hover {
    transition: 0.2s ease;
    scale: 101%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.158);
}

.imgContainer:hover {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.158);
}

.buttons {
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.loginBtn {
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    gap: 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 179);
}

.loginBtn:hover {
    scale: 101%;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.103);
}

.signupBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#github {
    transition: 0.2s ease;
    height: 50px;
}

#facebook {
    height: 60px;
}

.signupBtns img:hover {
    scale: 105%;
}